@model EposInventory.Models.Item

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-3" style="margin-top:3vh">
        <div class="list-group">
            <a href="/Home/Report" class="list-group-item list-group-item-action">
                Overview
            </a>
            <a href="/Items" class="list-group-item list-group-item-action active">Items</a>
            <a href="/Providers" class="list-group-item list-group-item-action">Providers</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col">
                <h2>Delete</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Are you sure you want to delete this?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h4>Item</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Provider.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Provider.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Category)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PricePerUnit)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PricePerUnit)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SellingPrice)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SellingPrice)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Markup)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Markup)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Stock)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Stock)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.WarningLevel)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.WarningLevel)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
