@model IEnumerable<EposInventory.Models.Provider>

@{
    ViewBag.Title = "Index";
}

<h2>All your Providers</h2>

<p>
    @Html.ActionLink("Add New Provider", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find provider by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddessSortParm })
        </th>
        <th>
            @Html.ActionLink("Phone Number", "Index", new { sortOrder = ViewBag.PhoneNumberSortParm })
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OrderDays)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DeliveryDays)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDays)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
